<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>

<p>API KEY, FOR TESTING: <%= ShopifyApp.configuration.api_key %></p>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %>
      <div>Lighting Closeouts <input type="checkbox" value="true" /><button>Edit</button> <a href="#">Cancel</a></div>
    </li>
  <% end %>
</ul>
